02_Function_Nodes/01_Switch.json
[{"id":"f3c4b7b7.2bc16","type":"group","z":"7bad5e70.f03c38","name":"Switch","style":{"label":true},"nodes":["54f99979.51b3c","8aa762f2.4c8908","7296ae01.4548c8","2e1e95b8.cde772","3a13d75e.852408"],"x":14,"y":399,"w":602,"h":122},{"id":"54f99979.51b3c","type":"inject","z":"7bad5e70.f03c38","g":"f3c4b7b7.2bc16","name":"Inject True","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":120,"y":440,"wires":[["7296ae01.4548c8"]]},{"id":"8aa762f2.4c8908","type":"inject","z":"7bad5e70.f03c38","g":"f3c4b7b7.2bc16","name":"Inject False","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":480,"wires":[["7296ae01.4548c8"]]},{"id":"7296ae01.4548c8","type":"switch","z":"7bad5e70.f03c38","g":"f3c4b7b7.2bc16","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":440,"wires":[["2e1e95b8.cde772"],["3a13d75e.852408"]]},{"id":"2e1e95b8.cde772","type":"debug","z":"7bad5e70.f03c38","g":"f3c4b7b7.2bc16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":440,"wires":[]},{"id":"3a13d75e.852408","type":"debug","z":"7bad5e70.f03c38","g":"f3c4b7b7.2bc16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":480,"wires":[]}]