02_Function_Nodes/02_Change.json
[{"id":"f1bce16b.fba6c8","type":"group","z":"7bad5e70.f03c38","name":"Change","style":{"label":true},"nodes":["446e6f9f.a54368","579322c5.441a94","7e03d0f0.3e21c8","cf926deb.bf223"],"x":94,"y":659,"w":692,"h":122},{"id":"446e6f9f.a54368","type":"inject","z":"7bad5e70.f03c38","g":"f1bce16b.fba6c8","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":210,"y":700,"wires":[["7e03d0f0.3e21c8","579322c5.441a94"]]},{"id":"579322c5.441a94","type":"debug","z":"7bad5e70.f03c38","g":"f1bce16b.fba6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":740,"wires":[]},{"id":"7e03d0f0.3e21c8","type":"change","z":"7bad5e70.f03c38","g":"f1bce16b.fba6c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[["cf926deb.bf223"]]},{"id":"cf926deb.bf223","type":"debug","z":"7bad5e70.f03c38","g":"f1bce16b.fba6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":700,"wires":[]}]