02_Function_Nodes/03_Range.json
[{"id":"c0e06a4e.41d44","type":"group","z":"7bad5e70.f03c38","name":"Range","style":{"label":true},"nodes":["3475e2f1.a6ced6","99141637.4bd8d8","e1167b03.a3e02","50f401d8.5ea91","3b32c060.966c88","eaf8c93d.52f22"],"x":14,"y":679,"w":632,"h":202},{"id":"3475e2f1.a6ced6","type":"inject","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":720,"wires":[["3b32c060.966c88"]]},{"id":"99141637.4bd8d8","type":"inject","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":110,"y":760,"wires":[["3b32c060.966c88"]]},{"id":"e1167b03.a3e02","type":"inject","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":110,"y":800,"wires":[["3b32c060.966c88"]]},{"id":"50f401d8.5ea91","type":"inject","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":110,"y":840,"wires":[["3b32c060.966c88"]]},{"id":"3b32c060.966c88","type":"range","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","minin":"0","maxin":"10","minout":"0","maxout":"20","action":"scale","round":false,"property":"payload","name":"Scale Integer","x":310,"y":720,"wires":[["eaf8c93d.52f22"]]},{"id":"eaf8c93d.52f22","type":"debug","z":"7bad5e70.f03c38","g":"c0e06a4e.41d44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":720,"wires":[]}]