02_Function_Nodes/04_Delay.json
[{"id":"c406a354.80a13","type":"group","z":"7bad5e70.f03c38","name":"Delay","style":{"label":true},"nodes":["b09ffffc.142b9","dcd679b3.84737","c5be413.068eec","f06e2d6b.513a98","fbc476.99d50388","fb0772eb.f41e8","748e478b.1d8b1","bbcb5c3f.814318","e7eb83a5.8e2458"],"x":14,"y":899,"w":692,"h":202},{"id":"b09ffffc.142b9","type":"inject","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":130,"y":940,"wires":[["dcd679b3.84737"]]},{"id":"dcd679b3.84737","type":"delay","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":940,"wires":[["c5be413.068eec"]]},{"id":"c5be413.068eec","type":"debug","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":940,"wires":[]},{"id":"f06e2d6b.513a98","type":"inject","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":140,"y":1000,"wires":[["fbc476.99d50388"]]},{"id":"fbc476.99d50388","type":"delay","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1000,"wires":[["fb0772eb.f41e8"]]},{"id":"fb0772eb.f41e8","type":"debug","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1000,"wires":[]},{"id":"748e478b.1d8b1","type":"inject","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":140,"y":1060,"wires":[["bbcb5c3f.814318"]]},{"id":"bbcb5c3f.814318","type":"delay","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":1060,"wires":[["e7eb83a5.8e2458"]]},{"id":"e7eb83a5.8e2458","type":"debug","z":"7bad5e70.f03c38","g":"c406a354.80a13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1060,"wires":[]}]