02_Function_Nodes/05_Rbe.json
[{"id":"fe4d67b9.8172f8","type":"group","z":"7bad5e70.f03c38","name":"Rbe","style":{"label":true},"nodes":["e81be489.ab3668","9a6a44aa.07984","db4eb468.714398","98fc4da7.110158"],"x":14,"y":1119,"w":632,"h":122},{"id":"e81be489.ab3668","type":"inject","z":"7bad5e70.f03c38","g":"fe4d67b9.8172f8","name":"Inject True","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":120,"y":1160,"wires":[["db4eb468.714398"]]},{"id":"9a6a44aa.07984","type":"inject","z":"7bad5e70.f03c38","g":"fe4d67b9.8172f8","name":"Inject False","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1200,"wires":[["db4eb468.714398"]]},{"id":"db4eb468.714398","type":"rbe","z":"7bad5e70.f03c38","g":"fe4d67b9.8172f8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":1160,"wires":[["98fc4da7.110158"]]},{"id":"98fc4da7.110158","type":"debug","z":"7bad5e70.f03c38","g":"fe4d67b9.8172f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1160,"wires":[]}]