05_Communication/04_Currency_API.json
[
    {
        "id": "d0647661e308d65c",
        "type": "http request",
        "z": "aa4ed42c901d08f1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "696a689c800a61b2"
            ]
        ]
    },
    {
        "id": "84086f99f6133ef7",
        "type": "change",
        "z": "aa4ed42c901d08f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.eur.usd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "a8c987787ce6a367"
            ]
        ]
    },
    {
        "id": "a8c987787ce6a367",
        "type": "ui_text",
        "z": "aa4ed42c901d08f1",
        "group": "f550f4fc8cbb223a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EUR to USD",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd6afe9c42597ae2",
        "type": "function",
        "z": "aa4ed42c901d08f1",
        "name": "urlGenerator",
        "func": "// Says either \"USD\" or \"EUR\"\nconst inp = msg.payload\n\nvar url = 'https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/eur.json'\n\nif(inp == \"USD\"){\n    url = 'https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/latest/currencies/usd.json'\n}\n\nmsg = {\n    url: url\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "d0647661e308d65c"
            ]
        ]
    },
    {
        "id": "3f3ccf732bdf481c",
        "type": "ui_text_input",
        "z": "aa4ed42c901d08f1",
        "name": "",
        "label": "USD or EUR",
        "tooltip": "",
        "group": "f550f4fc8cbb223a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "cd6afe9c42597ae2"
            ]
        ]
    },
    {
        "id": "696a689c800a61b2",
        "type": "switch",
        "z": "aa4ed42c901d08f1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "eur",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "84086f99f6133ef7"
            ],
            [
                "c08af642ea9986b2"
            ]
        ]
    },
    {
        "id": "c08af642ea9986b2",
        "type": "change",
        "z": "aa4ed42c901d08f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.usd.eur",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "a8c987787ce6a367"
            ]
        ]
    },
    {
        "id": "f550f4fc8cbb223a",
        "type": "ui_group",
        "name": "Default",
        "tab": "11130b2099b2c68d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11130b2099b2c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]