08_Colour_Picker.json
[{"id":"b81aa193.aba468","type":"group","z":"1cba0249.ac9766","name":"Colour Picker","style":{"label":true},"nodes":["b49fd016.17cdf8","57ce22f4.cd8a6c","ac9114b6.25e298","6b26b377.bc363c","9e54ac08.f2c44","12dad50b.23563b"],"x":14,"y":1119,"w":932,"h":122},{"id":"b49fd016.17cdf8","type":"ui_colour_picker","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","label":"Favorite Colour","group":"84460f25.4c8c7","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":600,"y":1160,"wires":[["57ce22f4.cd8a6c"]]},{"id":"57ce22f4.cd8a6c","type":"debug","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"ac9114b6.25e298","type":"ui_button","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","group":"35debc0f.52670c","order":2,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1160,"wires":[["9e54ac08.f2c44"]]},{"id":"6b26b377.bc363c","type":"ui_button","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","group":"35debc0f.52670c","order":3,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1200,"wires":[["9e54ac08.f2c44"]]},{"id":"9e54ac08.f2c44","type":"change","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1160,"wires":[["b49fd016.17cdf8"]]},{"id":"12dad50b.23563b","type":"ui_button","z":"1cba0249.ac9766","g":"b81aa193.aba468","name":"","group":"35debc0f.52670c","order":1,"width":0,"height":0,"passthru":false,"label":"Set Green","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"r\":0,\"g\":255,\"b\":0,\"a\":1}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":1200,"wires":[["b49fd016.17cdf8"]]},{"id":"84460f25.4c8c7","type":"ui_group","name":"Function","tab":"66adedb0.125b54","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"35debc0f.52670c","type":"ui_group","name":"Settings","tab":"66adedb0.125b54","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"66adedb0.125b54","type":"ui_tab","name":"Colour Picker","icon":"dashboard","order":8,"disabled":false,"hidden":false}]