04_Dashboard/04_UITable/03_UITable_IMG_PROG.json
[
    {
        "id": "80987726bd97650f",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Richer Table Image and Progress",
        "style": {
            "label": true
        },
        "nodes": [
            "f9b5b1a97d7fc223",
            "76a23f175ba08072",
            "2bd97ce3fc0cb94d"
        ],
        "x": 294,
        "y": 319,
        "w": 652,
        "h": 82
    },
    {
        "id": "f9b5b1a97d7fc223",
        "type": "ui_table",
        "z": "f6f2187d.f17ca8",
        "g": "80987726bd97650f",
        "group": "6469f6862f090ca3",
        "name": "",
        "order": 1,
        "width": 10,
        "height": 8,
        "columns": [
            {
                "field": "img",
                "title": "Image",
                "width": "",
                "align": "center",
                "formatter": "image",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "prog",
                "title": "Progress",
                "width": "",
                "align": "left",
                "formatter": "progress",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "76a23f175ba08072",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "80987726bd97650f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "2bd97ce3fc0cb94d"
            ]
        ]
    },
    {
        "id": "2bd97ce3fc0cb94d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "80987726bd97650f",
        "name": "DATA_GENERATOR",
        "func": "msg.payload = [\n    {\n    \"img\" : \"https://yt3.ggpht.com/ytc/AMLnZu9Gw3MrgmEaYv9otan0Z0DwbYzJH76U_O4xxw=s88-c-k-c0x00ffffff-no-rj\",\n    \"prog\" : Math.random() * 100\n    },\n    {\n    \"img\" : \"https://yt3.ggpht.com/ytc/AMLnZu9Gw3MrgmEaYv9otan0Z0DwbYzJH76U_O4xxw=s88-c-k-c0x00ffffff-no-rj\",\n    \"prog\" : Math.random() * 100\n    },\n    {\n    \"img\" : \"https://yt3.ggpht.com/ytc/AMLnZu9Gw3MrgmEaYv9otan0Z0DwbYzJH76U_O4xxw=s88-c-k-c0x00ffffff-no-rj\",\n    \"prog\" : Math.random() * 100\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "f9b5b1a97d7fc223"
            ]
        ]
    },
    {
        "id": "6469f6862f090ca3",
        "type": "ui_group",
        "name": "Table",
        "tab": "f4880910c063d790",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4880910c063d790",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]