06_RPI/03_SenseHat_Output.json
[
    {
        "id": "4fbed19da6c98659",
        "type": "group",
        "z": "1e15dd8f24dbe1c4",
        "name": "Sense Hat Output",
        "style": {
            "label": true
        },
        "nodes": [
            "c8026db90dab7f59",
            "0eb91c9dabb98dc5",
            "7c09d895db31c232",
            "278993634e801f94",
            "9f2f68e0af513601",
            "d7bfeb9cbc82e967",
            "3f841e838377f78d"
        ],
        "x": 334,
        "y": 219,
        "w": 472,
        "h": 282
    },
    {
        "id": "c8026db90dab7f59",
        "type": "rpi-sensehat out",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "0eb91c9dabb98dc5",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4,4,red",
        "payloadType": "str",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    },
    {
        "id": "7c09d895db31c232",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,0,blue",
        "payloadType": "str",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    },
    {
        "id": "278993634e801f94",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "*,*,off",
        "payloadType": "str",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    },
    {
        "id": "9f2f68e0af513601",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4,*,blue",
        "payloadType": "str",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    },
    {
        "id": "d7bfeb9cbc82e967",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3-4,3-4,green",
        "payloadType": "str",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    },
    {
        "id": "3f841e838377f78d",
        "type": "inject",
        "z": "1e15dd8f24dbe1c4",
        "g": "4fbed19da6c98659",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "color",
                "v": "#8f0100",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Node-Red Tutorials",
        "payloadType": "str",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "c8026db90dab7f59"
            ]
        ]
    }
]