04_Dashboard/03_Other/11_Template_TextOutput.json
[
    {
        "id": "6803e08dc7dc82d0",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Template Text Style",
        "style": {
            "label": true
        },
        "nodes": [
            "7c78c8eef53c2352",
            "9f168ea2ac4f1778",
            "1e93a4f8f6f38667",
            "182f7438481c03ce"
        ],
        "x": 274,
        "y": 239,
        "w": 752,
        "h": 142
    },
    {
        "id": "7c78c8eef53c2352",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "g": "6803e08dc7dc82d0",
        "group": "b7a2a25b481c8148",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Random Number",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "num1",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f168ea2ac4f1778",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "6803e08dc7dc82d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1e93a4f8f6f38667"
            ]
        ]
    },
    {
        "id": "1e93a4f8f6f38667",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "6803e08dc7dc82d0",
        "name": "RANDOM_NUMBER",
        "func": "// Generate random Integer between 0 and 10\nmsg.payload = parseInt(Math.random() * 10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "7c78c8eef53c2352"
            ]
        ]
    },
    {
        "id": "182f7438481c03ce",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "g": "6803e08dc7dc82d0",
        "group": "b7a2a25b481c8148",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .num1 {\n        background-color: rgb(0, 255, 0) !important;\n        /*\n        Custom CSS for the parent card (num1)\n        */\n    }\n    \n    .num1 > .label {\n        font-size: 24px !important;\n        font-weight: bold !important;\n        text-transform: none !important;\n        color: rgb(255, 0, 0) !important;\n        /*\n        Custom CSS for the label\n        */\n    }\n    \n    .num1 > .value {\n        font-size: 24px !important;\n        /*\n        Custom CSS for the Value\n        */\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a2a25b481c8148",
        "type": "ui_group",
        "name": "Style",
        "tab": "c335e222d86aefe4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c335e222d86aefe4",
        "type": "ui_tab",
        "name": "Template",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]