04_Dashboard/03_Other/12_Template_Gauge.json
[
    {
        "id": "dfa0afc1dc0e6f8f",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Template Gauge Style",
        "style": {
            "label": true
        },
        "nodes": [
            "6e958abc1c805991",
            "7e51954c7321f672",
            "c83a85730fa33205",
            "202c51c924a6b999"
        ],
        "x": 44,
        "y": 39,
        "w": 762,
        "h": 142
    },
    {
        "id": "6e958abc1c805991",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "g": "dfa0afc1dc0e6f8f",
        "name": "",
        "group": "b2ac0a0dc4039433",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Random Number",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "gauge1",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e51954c7321f672",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "dfa0afc1dc0e6f8f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "c83a85730fa33205"
            ]
        ]
    },
    {
        "id": "c83a85730fa33205",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "dfa0afc1dc0e6f8f",
        "name": "RANDOM_NUMBER",
        "func": "// Generate random Integer between 0 and 10\nmsg.payload = parseInt(Math.random() * 10);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "6e958abc1c805991"
            ]
        ]
    },
    {
        "id": "202c51c924a6b999",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "g": "dfa0afc1dc0e6f8f",
        "group": "b2ac0a0dc4039433",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .gauge1 {\n        background-color: rgb(0, 255, 0) !important;\n        /*\n        Custom CSS for the parent card (gauge1)\n        */\n    }\n    \n    .gauge1 > .label {\n        font-size: 24px !important;\n        font-weight: bold !important;\n        text-transform: none !important;\n        color: rgb(255, 0, 0) !important;\n        /*\n        Custom CSS for the gauge label\n        */\n    }\n    \n    .gauge1 > .nr-dashboard-gauge > svg > text {\n        fill: rgb(0, 0, 255) !important;\n        /*\n        Custom CSS for the Numeric Value\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b2ac0a0dc4039433",
        "type": "ui_group",
        "name": "Style",
        "tab": "62ee0d0d555f1ad5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ee0d0d555f1ad5",
        "type": "ui_tab",
        "name": "Template",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]