00_Custom_Examples/01_Show_Hide_Group.json
[{"id":"9396693c.371108","type":"group","z":"ddfc4924.245f3","name":"Hide_Show","style":{"label":true},"nodes":["2513685e.e0ae8","e5a1a0e1.72b148","28cf83f5.defee4","dd218282.21d4","e8cff46c.77d948","b5e5829b.396ba8"],"x":54,"y":19,"w":812,"h":182},{"id":"2513685e.e0ae8","type":"ui_button","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","group":"aae80889.582428","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":60,"wires":[[]]},{"id":"e5a1a0e1.72b148","type":"ui_dropdown","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","label":"","tooltip":"","place":"Select option","group":"8f3028ba.83089","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Show","value":true,"type":"bool"},{"label":"Hide","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":150,"y":120,"wires":[["dd218282.21d4"]]},{"id":"28cf83f5.defee4","type":"ui_ui_control","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","events":"all","x":780,"y":120,"wires":[[]]},{"id":"dd218282.21d4","type":"switch","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[["e8cff46c.77d948"],["b5e5829b.396ba8"]]},{"id":"e8cff46c.77d948","type":"change","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Hide_Show_Function\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["28cf83f5.defee4"]]},{"id":"b5e5829b.396ba8","type":"change","z":"ddfc4924.245f3","g":"9396693c.371108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Hide_Show_Function\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["28cf83f5.defee4"]]},{"id":"aae80889.582428","type":"ui_group","name":"Function","tab":"93384f10.9250e8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8f3028ba.83089","type":"ui_group","name":"Settings","tab":"93384f10.9250e8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"93384f10.9250e8","type":"ui_tab","name":"Hide_Show","icon":"dashboard","order":10,"disabled":false,"hidden":false}]