03_JavaScript_Functions/01_Change_Payload.json
[{"id":"80f0c628.68092","type":"group","z":"7bad5e70.f03c38","name":"Change Payload","style":{"label":true},"nodes":["c7d2bdd9.a58f2","5dea81a0.7dfee8","c84f00d5.192b88","e8fa8f02.e40ce"],"x":14,"y":1259,"w":732,"h":122},{"id":"c7d2bdd9.a58f2","type":"inject","z":"7bad5e70.f03c38","g":"80f0c628.68092","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":130,"y":1300,"wires":[["c84f00d5.192b88","5dea81a0.7dfee8"]]},{"id":"5dea81a0.7dfee8","type":"debug","z":"7bad5e70.f03c38","g":"80f0c628.68092","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":1340,"wires":[]},{"id":"c84f00d5.192b88","type":"function","z":"7bad5e70.f03c38","g":"80f0c628.68092","name":"Change msg.payload","func":"msg.payload = 6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1300,"wires":[["e8fa8f02.e40ce"]]},{"id":"e8fa8f02.e40ce","type":"debug","z":"7bad5e70.f03c38","g":"80f0c628.68092","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":1300,"wires":[]}]