03_JavaScript_Functions/02_Variables.json
[{"id":"1a69ef5d.fbf659","type":"group","z":"7bad5e70.f03c38","name":"Variables","style":{"label":true},"nodes":["57a04669.fc8eb","9af89c8.e034b6","78e966b8.4131a8","854334d1.c0735","b59a7eca.c0ec3","524df4a8.7d2e7c"],"x":14,"y":1399,"w":672,"h":162},{"id":"57a04669.fc8eb","type":"function","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"set flow and global variable","func":"// define variable\nvar value = 5\n\n// change value of variable\nvalue = 6\n\n// set flow variable\nflow.set(\"value\",value)\n\n// add 1 to variable\nvalue ++\n\n// set global variable\nglobal.set(\"value\", value)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1440,"wires":[[]]},{"id":"9af89c8.e034b6","type":"function","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"get flow variable","func":"// get value from flow variable and check if it exists\n// if not set value to 0\nvar value = flow.get(\"value\") || 0\n\n// set msg.payload to flow variable\nmsg.payload = value\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1480,"wires":[["78e966b8.4131a8"]]},{"id":"78e966b8.4131a8","type":"debug","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1480,"wires":[]},{"id":"854334d1.c0735","type":"debug","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":1520,"wires":[]},{"id":"b59a7eca.c0ec3","type":"function","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"get global variable","func":"// get value from global variable and check if it exists\n// if not set value to 0\nvar value = global.get(\"value\") || 0\n\n// set msg.payload to global variable\nmsg.payload = value\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1520,"wires":[["854334d1.c0735"]]},{"id":"524df4a8.7d2e7c","type":"inject","z":"7bad5e70.f03c38","g":"1a69ef5d.fbf659","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1440,"wires":[["57a04669.fc8eb","9af89c8.e034b6","b59a7eca.c0ec3"]]}]