03_JavaScript_Functions/03_Array.json
[{"id":"da91e543.404b88","type":"group","z":"7bad5e70.f03c38","name":"Array","style":{"label":true},"nodes":["7f1ddfc5.1c4e48","feea97cb.e0327","b51baef1.dd47b8","f2b21404.45fe18","488685dd.30a2b4","e04b601e.4777a8","81383807.a3903","174673c6.b161ec","a5122860.f851a"],"x":14,"y":1579,"w":1512,"h":122},{"id":"7f1ddfc5.1c4e48","type":"inject","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1620,"wires":[["feea97cb.e0327"]]},{"id":"feea97cb.e0327","type":"function","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"basic array functions 1","func":"// define empty array as variable\nvar valueArray = []\n\n// add values to Array\nvalueArray.push(5)\nvalueArray.push(6)\nvalueArray.push(7)\n\n// return valueArray in msg.payload\nmsg.payload = valueArray\n\n// return length of valueArray in msg.arrayLength\nmsg.arrayLength = valueArray.length\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1620,"wires":[["b51baef1.dd47b8","f2b21404.45fe18"]]},{"id":"b51baef1.dd47b8","type":"debug","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":1660,"wires":[]},{"id":"f2b21404.45fe18","type":"function","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"basic array functions 2","func":"// define variable as msg.payload\nvar inp = msg.payload\n\n// change value of specific index\ninp[2] = 20\n\n// set msg.payload to inp array\nmsg.payload = inp\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1620,"wires":[["488685dd.30a2b4","e04b601e.4777a8"]]},{"id":"488685dd.30a2b4","type":"debug","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":1660,"wires":[]},{"id":"e04b601e.4777a8","type":"function","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"basic array functions 3","func":"// define variable as msg.payload\nvar inp = msg.payload\n\n// delete last indec of array\ninp.pop()\n\n// set msg.payload to inp array\nmsg.payload = inp\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1620,"wires":[["81383807.a3903","174673c6.b161ec"]]},{"id":"81383807.a3903","type":"debug","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1660,"wires":[]},{"id":"174673c6.b161ec","type":"function","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"basic array functions 4","func":"// define variable as msg.payload\nvar inp = msg.payload\n\n// cut value between index\ninp.splice(0,1)\n\n// set msg.payload to inp array\nmsg.payload = inp\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1620,"wires":[["a5122860.f851a"]]},{"id":"a5122860.f851a","type":"debug","z":"7bad5e70.f03c38","g":"da91e543.404b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":1620,"wires":[]}]