03_JavaScript_Functions/04_JSON.json
[{"id":"9d608ea3.5e90a","type":"group","z":"7bad5e70.f03c38","name":"JSON -Object","style":{"label":true},"nodes":["f772a438.afa248","bb4096b0.61f4e8","67638666.cb0458","c0e0382e.61a2a","f64522b1.24acc8"],"x":14,"y":1719,"w":972,"h":122},{"id":"f772a438.afa248","type":"inject","z":"7bad5e70.f03c38","g":"9d608ea3.5e90a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1760,"wires":[["bb4096b0.61f4e8"]]},{"id":"bb4096b0.61f4e8","type":"function","z":"7bad5e70.f03c38","g":"9d608ea3.5e90a","name":"create JSON object","func":"// create new Object variable\nvar newObject = {}\n\n// create new Array to insert in Object\nvar valueArray = [\"Test\",\"Perfect\"]\n\n// Add Properties to newObject\nnewObject = {\n    integer: 1,\n    string: \"Tutorial\",\n    array: valueArray\n}\n\n// set msg.payload to Object\nmsg.payload = newObject\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1760,"wires":[["67638666.cb0458","c0e0382e.61a2a"]]},{"id":"67638666.cb0458","type":"debug","z":"7bad5e70.f03c38","g":"9d608ea3.5e90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":1800,"wires":[]},{"id":"c0e0382e.61a2a","type":"function","z":"7bad5e70.f03c38","g":"9d608ea3.5e90a","name":"change JSON values","func":"// define const inp as msg.payload\nconst inp = msg.payload\n\n// change integer value of inp\ninp.integer = 2\n\n// change value at object array index 1\ninp.array[1] = \"seven\"\n\n// set msg.payload to inp\nmsg.payload = inp\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1760,"wires":[["f64522b1.24acc8"]]},{"id":"f64522b1.24acc8","type":"debug","z":"7bad5e70.f03c38","g":"9d608ea3.5e90a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1760,"wires":[]}]