03_JavaScript_Functions/05_Counter_V2.json
[{"id":"e51840eb.3aca48","type":"group","z":"7bad5e70.f03c38","name":"Counter V2","style":{"label":true},"nodes":["a1f40f2.8a0d0f","6a1aaf3e.110b78","66c5ab27.52ccc4","5f46583e.0a8bf8"],"x":14,"y":2019,"w":632,"h":142},{"id":"a1f40f2.8a0d0f","type":"inject","z":"7bad5e70.f03c38","g":"e51840eb.3aca48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2060,"wires":[["66c5ab27.52ccc4"]]},{"id":"6a1aaf3e.110b78","type":"inject","z":"7bad5e70.f03c38","g":"e51840eb.3aca48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"reset","payload":"","payloadType":"date","x":140,"y":2120,"wires":[["66c5ab27.52ccc4"]]},{"id":"66c5ab27.52ccc4","type":"function","z":"7bad5e70.f03c38","g":"e51840eb.3aca48","name":"Counter","func":"// Define Variable and get stored flow value\n// if there is no stored value, then the value is 0\nvar counter = flow.get(\"counter\") || 0\n\n// Check the msg.topic property\n// If the topic is equal to reset then set the counter to 0\n// else add 1 to the counter value\nif (msg.topic == \"reset\") {\n    counter = 0\n} else {\n    counter ++\n}\n\n// save the counter value in the flow variable\nflow.set(\"counter\", counter)\n\n// set msg.payload to counter value\nmsg.payload = counter\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2060,"wires":[["5f46583e.0a8bf8"]]},{"id":"5f46583e.0a8bf8","type":"debug","z":"7bad5e70.f03c38","g":"e51840eb.3aca48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":2060,"wires":[]}]