03_JavaScript_Functions/05_Counter.json
[{"id":"ab3d4f4e.6dac4","type":"group","z":"7bad5e70.f03c38","name":"Counter V1","style":{"label":true},"nodes":["b34ab286.e2b01","1c0363fa.1e315c","274c50fc.67009","cba10fa3.af8478","c922a665.b68608"],"x":14,"y":1859,"w":632,"h":142},{"id":"b34ab286.e2b01","type":"inject","z":"7bad5e70.f03c38","g":"ab3d4f4e.6dac4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1900,"wires":[["1c0363fa.1e315c"]]},{"id":"1c0363fa.1e315c","type":"function","z":"7bad5e70.f03c38","g":"ab3d4f4e.6dac4","name":"Counter","func":"// Define Variable and get stored flow value\n// if there is no stored value, then the value is 0\nvar counter = flow.get(\"counter\") || 0\n\n// add 1 to the counter value\ncounter ++\n\n// save the counter value in the flow variable\nflow.set(\"counter\", counter)\n\n// set msg.payload to counter value\nmsg.payload = counter\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1900,"wires":[["274c50fc.67009"]]},{"id":"274c50fc.67009","type":"debug","z":"7bad5e70.f03c38","g":"ab3d4f4e.6dac4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1900,"wires":[]},{"id":"cba10fa3.af8478","type":"inject","z":"7bad5e70.f03c38","g":"ab3d4f4e.6dac4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1960,"wires":[["c922a665.b68608"]]},{"id":"c922a665.b68608","type":"change","z":"7bad5e70.f03c38","g":"ab3d4f4e.6dac4","name":"","rules":[{"t":"set","p":"counter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1960,"wires":[["1c0363fa.1e315c"]]}]