03_JavaScript_Functions/06_String.json
[{"id":"a6f3522b.39f4c","type":"group","z":"7bad5e70.f03c38","name":"String","style":{"label":true},"nodes":["7d6e52b6.153b04","5ff4e153.159b48","c27d14d9.82b938","d1194127.e63128","9973642a.1084c8","700738dd.4ea58","f5a11371.b5c6a8","fbdac651.35497","3d7684cf.6d3c5c"],"x":14,"y":2179,"w":1472,"h":122},{"id":"7d6e52b6.153b04","type":"inject","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2220,"wires":[["5ff4e153.159b48"]]},{"id":"5ff4e153.159b48","type":"function","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"String Functions 1","func":"// create new String Variable\nvar newString = \"Hello\"\n\n// Add characters to String\nnewString += \" World\"\n\n// set msg-payload to String\nmsg.payload = newString\n\n// set msg.stringLength to length of newString\nmsg.stringLength = newString.length\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":2220,"wires":[["c27d14d9.82b938","d1194127.e63128"]]},{"id":"c27d14d9.82b938","type":"debug","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":2260,"wires":[]},{"id":"d1194127.e63128","type":"function","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"String Functions 2","func":"// define msg.payload as constant\nconst inp = msg.payload\n\n// get index of specific character\nmsg.index = inp.indexOf(\"World\")\n\n// return msg Object\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":2220,"wires":[["9973642a.1084c8","700738dd.4ea58"]]},{"id":"9973642a.1084c8","type":"debug","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"index","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":2260,"wires":[]},{"id":"700738dd.4ea58","type":"function","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"String Functions 3","func":"// define msg.payload as constant\nconst inp = msg.payload\n\n// get index of specific character\nindex = inp.indexOf(\"World\")\n\n// Cut World from String\nmsg.payload = inp.slice(index, inp.length)\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":2220,"wires":[["f5a11371.b5c6a8","fbdac651.35497"]]},{"id":"f5a11371.b5c6a8","type":"debug","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":2260,"wires":[]},{"id":"fbdac651.35497","type":"function","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"String Functions 4","func":"// define new integer value\nconst integer = 5\n\n// set msg.integer to String of int\nmsg.integer = integer.toString()\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":2220,"wires":[["3d7684cf.6d3c5c"]]},{"id":"3d7684cf.6d3c5c","type":"debug","z":"7bad5e70.f03c38","g":"a6f3522b.39f4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"integer","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":2220,"wires":[]}]