04_Dashboard/01_Inputs/01_Button.json
[{"id":"ab637678.e2e6c8","type":"group","z":"1cba0249.ac9766","name":"Button","style":{"label":true},"nodes":["37a33350.d94954","f4062b8c.b487d","b5531fe0.6fbdc","ebfc509.bfea93","1f37025f.edb396"],"x":54,"y":39,"w":932,"h":122},{"id":"37a33350.d94954","type":"ui_button","z":"1cba0249.ac9766","g":"ab637678.e2e6c8","name":"","group":"afdcbfb4.5a2e9","order":1,"width":0,"height":0,"passthru":false,"label":"Test Button","tooltip":"","color":"","bgcolor":"","className":"","icon":"add_box","payload":"Button Pressed","payloadType":"str","topic":"topic","topicType":"msg","x":650,"y":80,"wires":[["f4062b8c.b487d"]]},{"id":"f4062b8c.b487d","type":"debug","z":"1cba0249.ac9766","g":"ab637678.e2e6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"b5531fe0.6fbdc","type":"ui_button","z":"1cba0249.ac9766","g":"ab637678.e2e6c8","name":"","group":"bba557de.cde84","order":1,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":160,"y":80,"wires":[["1f37025f.edb396"]]},{"id":"ebfc509.bfea93","type":"ui_button","z":"1cba0249.ac9766","g":"ab637678.e2e6c8","name":"","group":"bba557de.cde84","order":2,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":160,"y":120,"wires":[["1f37025f.edb396"]]},{"id":"1f37025f.edb396","type":"change","z":"1cba0249.ac9766","g":"ab637678.e2e6c8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["37a33350.d94954"]]},{"id":"afdcbfb4.5a2e9","type":"ui_group","name":"Function","tab":"8a0d7ff4.015b48","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bba557de.cde84","type":"ui_group","name":"Settings","tab":"8a0d7ff4.015b48","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8a0d7ff4.015b48","type":"ui_tab","name":"Button","icon":"dashboard","order":1,"disabled":false,"hidden":false}]