04_Dashboard/01_Inputs/02_Dropdown.json
[{"id":"b7463dfb.ee23f8","type":"group","z":"1cba0249.ac9766","name":"Dropdown","style":{"label":true},"nodes":["5a5fe1cf.b9454","ef109f18.a359b","d352c59d.019b5","26cee49.46cea1c","b0e2090.6158ff8","2cac96f3.dc99a2","b159fb8.4c05208"],"x":14,"y":159,"w":892,"h":202},{"id":"5a5fe1cf.b9454","type":"ui_dropdown","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","label":"Select","tooltip":"","place":"Select option","group":"f0fda1e7.d1d76","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Topic 1","value":"Topic 1","type":"str"},{"label":"Topic 2","value":2,"type":"num"},{"label":"Topic 3","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":590,"y":200,"wires":[["ef109f18.a359b"]]},{"id":"ef109f18.a359b","type":"debug","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"d352c59d.019b5","type":"ui_button","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","group":"7d35b80.904b6c8","order":0,"width":0,"height":0,"passthru":false,"label":"Select 1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Topic 1","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":200,"wires":[["5a5fe1cf.b9454"]]},{"id":"26cee49.46cea1c","type":"ui_button","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","group":"7d35b80.904b6c8","order":0,"width":0,"height":0,"passthru":false,"label":"Select 2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":100,"y":240,"wires":[["5a5fe1cf.b9454"]]},{"id":"b0e2090.6158ff8","type":"ui_button","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","group":"7d35b80.904b6c8","order":0,"width":0,"height":0,"passthru":false,"label":"Select 3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":280,"wires":[["5a5fe1cf.b9454"]]},{"id":"2cac96f3.dc99a2","type":"ui_button","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","group":"7d35b80.904b6c8","order":3,"width":0,"height":0,"passthru":false,"label":"Change Selection","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":320,"wires":[["b159fb8.4c05208"]]},{"id":"b159fb8.4c05208","type":"change","z":"1cba0249.ac9766","g":"b7463dfb.ee23f8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"[\"Changed 1\",{\"Changed 3\":3}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["5a5fe1cf.b9454"]]},{"id":"f0fda1e7.d1d76","type":"ui_group","name":"Function","tab":"9737523.cc0223","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7d35b80.904b6c8","type":"ui_group","name":"Settings","tab":"9737523.cc0223","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9737523.cc0223","type":"ui_tab","name":"Dropdown","icon":"dashboard","order":2,"disabled":false,"hidden":false}]