04_Dashboard/01_Inputs/03_Switch.json
[{"id":"b6ced6d5.137c9","type":"group","z":"1cba0249.ac9766","name":"Switch","style":{"label":true},"nodes":["c0a3bab.5bd1e48","f04e5649.39e428","7345f52c.34feb4","36ee14c0.68effc","1d15c663.aca6c2","b5998821.972a18","c77a85c4.f51ad8"],"x":14,"y":379,"w":892,"h":162},{"id":"c0a3bab.5bd1e48","type":"ui_switch","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","label":"Switch","tooltip":"","group":"41412b6a.6de50c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":590,"y":420,"wires":[["f04e5649.39e428"]]},{"id":"f04e5649.39e428","type":"debug","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"7345f52c.34feb4","type":"ui_button","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","group":"c3912b7d.aaa93","order":3,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":420,"wires":[["1d15c663.aca6c2"]]},{"id":"36ee14c0.68effc","type":"ui_button","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","group":"c3912b7d.aaa93","order":4,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":460,"wires":[["1d15c663.aca6c2"]]},{"id":"1d15c663.aca6c2","type":"change","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[["c0a3bab.5bd1e48"]]},{"id":"b5998821.972a18","type":"ui_button","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","group":"c3912b7d.aaa93","order":1,"width":0,"height":0,"passthru":false,"label":"Set State True","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":360,"y":460,"wires":[["c0a3bab.5bd1e48"]]},{"id":"c77a85c4.f51ad8","type":"ui_button","z":"1cba0249.ac9766","g":"b6ced6d5.137c9","name":"","group":"c3912b7d.aaa93","order":2,"width":0,"height":0,"passthru":false,"label":"Set State False","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":360,"y":500,"wires":[["c0a3bab.5bd1e48"]]},{"id":"41412b6a.6de50c","type":"ui_group","name":"Function","tab":"b13ac5aa.7eca6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c3912b7d.aaa93","type":"ui_group","name":"Settings","tab":"b13ac5aa.7eca6","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b13ac5aa.7eca6","type":"ui_tab","name":"Switch","icon":"dashboard","order":3,"disabled":false,"hidden":false}]