04_Dashboard/01_Inputs/05_Numeric.json
[{"id":"9f717f23.704ed","type":"group","z":"1cba0249.ac9766","name":"Numeric","style":{"label":true},"nodes":["707c584b.93a6","94de1232.7d9ec8","7398240b.197954","ec5ae14e.408108","74653252.9189b4","822d9385.b10cb"],"x":14,"y":699,"w":892,"h":122},{"id":"707c584b.93a6","type":"ui_numeric","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","label":"Value","tooltip":"","group":"ecfc12f.f020e7","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}} %","min":0,"max":"5","step":1,"className":"","x":590,"y":740,"wires":[["94de1232.7d9ec8"]]},{"id":"94de1232.7d9ec8","type":"debug","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":740,"wires":[]},{"id":"7398240b.197954","type":"ui_button","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","group":"fa11ec7.ce08c9","order":2,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":740,"wires":[["74653252.9189b4"]]},{"id":"ec5ae14e.408108","type":"ui_button","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","group":"fa11ec7.ce08c9","order":3,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":780,"wires":[["74653252.9189b4"]]},{"id":"74653252.9189b4","type":"change","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["707c584b.93a6"]]},{"id":"822d9385.b10cb","type":"ui_button","z":"1cba0249.ac9766","g":"9f717f23.704ed","name":"","group":"fa11ec7.ce08c9","order":1,"width":0,"height":0,"passthru":false,"label":"Set 3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":330,"y":780,"wires":[["707c584b.93a6"]]},{"id":"ecfc12f.f020e7","type":"ui_group","name":"Function","tab":"29a77bcb.246f54","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fa11ec7.ce08c9","type":"ui_group","name":"Settings","tab":"29a77bcb.246f54","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"29a77bcb.246f54","type":"ui_tab","name":"Numeric","icon":"dashboard","order":5,"disabled":false,"hidden":false}]