04_Dashboard/01_Inputs/06_Text_Input.json
[{"id":"b45668eb.02d4a8","type":"group","z":"1cba0249.ac9766","name":"Text Input","style":{"label":true},"nodes":["716d502f.8ba8e8","29dd2ee7.67e412","2ef70b6f.e1ba54","3f3d5aa8.5f629e","485a5390.a680b4"],"x":14,"y":839,"w":892,"h":122},{"id":"716d502f.8ba8e8","type":"ui_text_input","z":"1cba0249.ac9766","g":"b45668eb.02d4a8","name":"","label":"Text","tooltip":"","group":"6a24b0d9.475068","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":590,"y":880,"wires":[["29dd2ee7.67e412"]]},{"id":"29dd2ee7.67e412","type":"debug","z":"1cba0249.ac9766","g":"b45668eb.02d4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":880,"wires":[]},{"id":"2ef70b6f.e1ba54","type":"ui_button","z":"1cba0249.ac9766","g":"b45668eb.02d4a8","name":"","group":"f4c7b5a.feedac8","order":2,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":880,"wires":[["485a5390.a680b4"]]},{"id":"3f3d5aa8.5f629e","type":"ui_button","z":"1cba0249.ac9766","g":"b45668eb.02d4a8","name":"","group":"f4c7b5a.feedac8","order":3,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":920,"wires":[["485a5390.a680b4"]]},{"id":"485a5390.a680b4","type":"change","z":"1cba0249.ac9766","g":"b45668eb.02d4a8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":880,"wires":[["716d502f.8ba8e8"]]},{"id":"6a24b0d9.475068","type":"ui_group","name":"Function","tab":"29441159.71621e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f4c7b5a.feedac8","type":"ui_group","name":"Settings","tab":"29441159.71621e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"29441159.71621e","type":"ui_tab","name":"Text Input","icon":"dashboard","order":6,"disabled":false,"hidden":false}]