04_Dashboard/01_Inputs/07_Date_Picker.json
[{"id":"f8016950.9aa06","type":"group","z":"1cba0249.ac9766","name":"Date Picker","style":{"label":true},"nodes":["afd2b0ea.a2b2","129f32bc.85a52d","5711fbc.9c2ec04","b6e8214d.1751","f82479c.3b3af08"],"x":14,"y":979,"w":862,"h":122},{"id":"afd2b0ea.a2b2","type":"ui_date_picker","z":"1cba0249.ac9766","g":"f8016950.9aa06","name":"","label":"Birthday","group":"f5d3be41.2e7f7","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":580,"y":1020,"wires":[["129f32bc.85a52d"]]},{"id":"129f32bc.85a52d","type":"debug","z":"1cba0249.ac9766","g":"f8016950.9aa06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1020,"wires":[]},{"id":"5711fbc.9c2ec04","type":"ui_button","z":"1cba0249.ac9766","g":"f8016950.9aa06","name":"","group":"2217bbc8.099fa4","order":2,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1020,"wires":[["f82479c.3b3af08"]]},{"id":"b6e8214d.1751","type":"ui_button","z":"1cba0249.ac9766","g":"f8016950.9aa06","name":"","group":"2217bbc8.099fa4","order":3,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1060,"wires":[["f82479c.3b3af08"]]},{"id":"f82479c.3b3af08","type":"change","z":"1cba0249.ac9766","g":"f8016950.9aa06","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1020,"wires":[["afd2b0ea.a2b2"]]},{"id":"f5d3be41.2e7f7","type":"ui_group","name":"Function","tab":"940e745.140c088","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2217bbc8.099fa4","type":"ui_group","name":"Settings","tab":"940e745.140c088","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"940e745.140c088","type":"ui_tab","name":"Date Picker","icon":"dashboard","order":7,"disabled":false,"hidden":false}]