04_Dashboard/01_Inputs/09_Form.json
[{"id":"dbd5030a.21e278","type":"group","z":"1cba0249.ac9766","name":"Form","style":{"label":true},"nodes":["67cedb92.fe9e14","76476c39.cfc1d4","7603ea43.f21974","fb581e50.64b48","a8dd058e.5de67"],"x":14,"y":1259,"w":872,"h":122},{"id":"67cedb92.fe9e14","type":"ui_form","z":"1cba0249.ac9766","g":"dbd5030a.21e278","name":"","label":"","group":"c1eacbac.9c51c8","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"Obj_Name","type":"text","required":true,"rows":null},{"label":"Postalcode","value":"Obj_Postalcode","type":"number","required":false,"rows":null}],"formValue":{"Obj_Name":"","Obj_Postalcode":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":570,"y":1300,"wires":[["76476c39.cfc1d4"]]},{"id":"76476c39.cfc1d4","type":"debug","z":"1cba0249.ac9766","g":"dbd5030a.21e278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1300,"wires":[]},{"id":"7603ea43.f21974","type":"ui_button","z":"1cba0249.ac9766","g":"dbd5030a.21e278","name":"","group":"d8425e94.2f162","order":2,"width":6,"height":1,"passthru":false,"label":"Enable Button","tooltip":"","color":"green","bgcolor":"white","className":"","icon":"settings","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1300,"wires":[["a8dd058e.5de67"]]},{"id":"fb581e50.64b48","type":"ui_button","z":"1cba0249.ac9766","g":"dbd5030a.21e278","name":"","group":"d8425e94.2f162","order":3,"width":6,"height":1,"passthru":false,"label":"Disable Button","tooltip":"","color":"red","bgcolor":"white","className":"","icon":"settings","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1340,"wires":[["a8dd058e.5de67"]]},{"id":"a8dd058e.5de67","type":"change","z":"1cba0249.ac9766","g":"dbd5030a.21e278","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1300,"wires":[["67cedb92.fe9e14"]]},{"id":"c1eacbac.9c51c8","type":"ui_group","name":"Function","tab":"5e5a3cf2.fbf064","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d8425e94.2f162","type":"ui_group","name":"Settings","tab":"5e5a3cf2.fbf064","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5e5a3cf2.fbf064","type":"ui_tab","name":"Form","icon":"dashboard","order":9,"disabled":false,"hidden":false}]