01_Common_Nodes/01_Inject_and_Debug.json
[{"id":"77d1502c.e77018","type":"inject","z":"7bad5e70.f03c38","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"Integer","payload":"5","payloadType":"num","x":140,"y":160,"wires":[["b4fd5b73.5c7518","7ff012da.4a5234"]]},{"id":"b4fd5b73.5c7518","type":"debug","z":"7bad5e70.f03c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":160,"wires":[]},{"id":"7ff012da.4a5234","type":"debug","z":"7bad5e70.f03c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":200,"wires":[]}]