01_Common_Nodes/03_Link.json
[{"id":"bec72561.cf42c8","type":"group","z":"7bad5e70.f03c38","name":"Link","style":{"label":true},"nodes":["9d7c52e.fae20b","2b9a3f1c.55a4a","5ab25b00.10dd24","db66138f.898db"],"x":14,"y":299,"w":632,"h":82},{"id":"9d7c52e.fae20b","type":"inject","z":"7bad5e70.f03c38","g":"bec72561.cf42c8","name":"Inject Integer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Integer","payload":"5","payloadType":"num","x":130,"y":340,"wires":[["2b9a3f1c.55a4a"]]},{"id":"2b9a3f1c.55a4a","type":"link out","z":"7bad5e70.f03c38","g":"bec72561.cf42c8","name":"INTEGER_OUT","links":["5ab25b00.10dd24"],"x":295,"y":340,"wires":[]},{"id":"5ab25b00.10dd24","type":"link in","z":"7bad5e70.f03c38","g":"bec72561.cf42c8","name":"INTEGER_IN","links":["2b9a3f1c.55a4a"],"x":415,"y":340,"wires":[["db66138f.898db"]]},{"id":"db66138f.898db","type":"debug","z":"7bad5e70.f03c38","g":"bec72561.cf42c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]}]