04_Dashboard/02_Outputs/02_Gauge.json
[
    {
        "id": "65d30004c1496c92",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Gauge",
        "style": {
            "label": true
        },
        "nodes": [
            "1e9fad082b03aa16",
            "1408888d0f303782",
            "2ebefc4fa9cc5665"
        ],
        "x": 34,
        "y": 19,
        "w": 752,
        "h": 82
    },
    {
        "id": "1e9fad082b03aa16",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "g": "65d30004c1496c92",
        "name": "",
        "group": "a284fdaa38c18f81",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:2}}°C",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "className": "",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "1408888d0f303782",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "65d30004c1496c92",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "2ebefc4fa9cc5665"
            ]
        ]
    },
    {
        "id": "2ebefc4fa9cc5665",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "65d30004c1496c92",
        "name": "Random Temperature Value",
        "func": "// Create random Temperature value between 0 and 30 °C\nmsg.payload = Math.random() * 30\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "1e9fad082b03aa16"
            ]
        ]
    },
    {
        "id": "a284fdaa38c18f81",
        "type": "ui_group",
        "name": "Function",
        "tab": "424609d3f59a5919",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "424609d3f59a5919",
        "type": "ui_tab",
        "name": "Gauge",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]