04_Dashboard/02_Outputs/05_PieChart.json
[{"id":"f697deb347549f7d","type":"group","z":"f1988a2794fd0fbf","name":"Pie Chart","style":{"label":true},"nodes":["ed37225d3ec5916f","fcef724ad3a906c3","1baa1f3dede4e3fb","339045e2a702d164","681a7f8089812238","b8bde0a7d7ae6667"],"x":34,"y":19,"w":592,"h":202},{"id":"ed37225d3ec5916f","type":"ui_chart","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"","group":"dd885df6ad54c298","order":1,"width":10,"height":6,"label":"Sales","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"75","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":60,"wires":[[]]},{"id":"fcef724ad3a906c3","type":"function","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"Phone Sales","func":"msg.payload = Math.random() * 100\nmsg.topic = \"Phones\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":60,"wires":[["ed37225d3ec5916f"]]},{"id":"1baa1f3dede4e3fb","type":"function","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"Laptop Sales","func":"msg.payload = Math.random() * 100\nmsg.topic = \"Laptops\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["ed37225d3ec5916f"]]},{"id":"339045e2a702d164","type":"function","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"Tablet Sales","func":"msg.payload = Math.random() * 100\nmsg.topic = \"Tablets\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["ed37225d3ec5916f"]]},{"id":"681a7f8089812238","type":"ui_button","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"","group":"dd885df6ad54c298","order":2,"width":5,"height":1,"passthru":false,"label":"Clear Data","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"[]","payloadType":"json","topic":"","x":350,"y":180,"wires":[["ed37225d3ec5916f"]]},{"id":"b8bde0a7d7ae6667","type":"ui_button","z":"f1988a2794fd0fbf","g":"f697deb347549f7d","name":"","group":"dd885df6ad54c298","order":3,"width":5,"height":1,"passthru":false,"label":"Show Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":60,"wires":[["fcef724ad3a906c3","1baa1f3dede4e3fb","339045e2a702d164"]]},{"id":"dd885df6ad54c298","type":"ui_group","name":"Function","tab":"7da32361575dc2ea","order":1,"disp":true,"width":10,"collapse":false},{"id":"7da32361575dc2ea","type":"ui_tab","name":"Chart","icon":"dashboard","order":1,"disabled":false,"hidden":false}]