04_Dashboard/02_Outputs/07_RadarChart.json
[
    {
        "id": "72b95070f63bc0fc",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Radar Chart",
        "style": {
            "label": true
        },
        "nodes": [
            "b05637431845096b",
            "128ddba784e535d5",
            "29042ad2a54642ef",
            "80b933406ebaca96"
        ],
        "x": 174,
        "y": 79,
        "w": 592,
        "h": 122
    },
    {
        "id": "b05637431845096b",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "g": "72b95070f63bc0fc",
        "name": "",
        "group": "d28ce36e84a59828",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Budget",
        "chartType": "radar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "128ddba784e535d5",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "g": "72b95070f63bc0fc",
        "name": "",
        "group": "d28ce36e84a59828",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Data",
        "tooltip": "Clear data on Chart",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "b05637431845096b"
            ]
        ]
    },
    {
        "id": "29042ad2a54642ef",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "g": "72b95070f63bc0fc",
        "name": "",
        "group": "d28ce36e84a59828",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Show Data",
        "tooltip": "Show data on Chart",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "80b933406ebaca96"
            ]
        ]
    },
    {
        "id": "80b933406ebaca96",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "72b95070f63bc0fc",
        "name": "Budget",
        "func": "// Create random budget for allocated budget and acutal spending\n// Creates array with 3 random numbers ranging from 0 to 100\nconst allocated_budget = Array.from({length: 3}, () => Math.random() * 100)\nconst actual_spending = Array.from({length: 3}, () => Math.random() * 100)\n\n// Create data Object\nconst data = {\n    \"series\" : [\"actual\",\"allocated\"],\n    \"data\" : [actual_spending,allocated_budget],\n    \"labels\" : [\"Phones\",\"Laptops\",\"Tablets\"]\n}\n\n// write data to msg.payload\nmsg.payload = [data]\n\n// return data object\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "b05637431845096b"
            ]
        ]
    },
    {
        "id": "d28ce36e84a59828",
        "type": "ui_group",
        "name": "Function",
        "tab": "ad35f079cc3fbe09",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad35f079cc3fbe09",
        "type": "ui_tab",
        "name": "Chart",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]